<!-- This template displays the overlay content and is connected to the button at the bottom -->
<ng-template  cdkConnectedOverlay
              [cdkConnectedOverlayOrigin]="trigger"
              [cdkConnectedOverlayOpen]="isOpen">
  <mat-toolbar color='primary' id="delete-toolbar">
    <div class="box-2"><button mat-icon-button (click)="hideDeleteBar()"><mat-icon>arrow_back</mat-icon>BACK</button></div>
    <div class="box-2"><button mat-button [mat-menu-trigger-for]="toggleAllMenu">{{ selection.selected.length }} selected<mat-icon matSuffix>arrow_drop_down</mat-icon></button>  </div>
    
    <mat-menu #toggleAllMenu="matMenu">
      <button mat-menu-item (click)="selectAll()">Select all</button>
      <button mat-menu-item (click)="deselectAll()">Deselect all</button>
    </mat-menu>
    <button mat-icon-button (click)="confirmationDelete()"><mat-icon>delete</mat-icon> </button>
  </mat-toolbar>
</ng-template>

<mat-toolbar color='primary' id="search-toolbar">
  <div class="box-1" ><mat-icon>account_box</mat-icon></div> 
  <p class="search box-1">Contacts</p> 
  <mat-form-field class="box-2">  
    <mat-icon matPrefix>search</mat-icon>
    <input matInput  (keyup)="applyFilter($event)" placeholder="Search for a contact" class="search">
  </mat-form-field>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="checkbox">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="[$event ? selection.toggle(row) : null, displayDeleteBar()]"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Picture Column -->
  <ng-container matColumnDef="picture">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">   <img  (click)="editContactDialog(element)"src="{{ element.picture }}">  </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element"> <div (click)="editContactDialog(element)" >{{element.name}} {{ element.lastname }} </div> </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element"> <div (click)="editContactDialog(element)"> {{element.email}} </div> </td>
  </ng-container>

  <!-- Telephone Column -->
  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef>Phone</th>
    <td mat-cell *matCellDef="let element"> <div (click)="editContactDialog(element)"> {{element.phonenumber}} </div></td>
  </ng-container>

  <!-- Favorite Column -->
  <ng-container matColumnDef="favorite">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> 
      <div *ngIf="element.favorite; else unfavorite">
          <button mat-icon-button (click)="favorite(element)"><mat-icon>star</mat-icon></button> 
      </div>
      <ng-template #unfavorite>
        <button mat-icon-button (click)="favorite(element)"><mat-icon>star_outline</mat-icon></button> 
      </ng-template>
    </td>
  </ng-container>
  
  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">  
      <mat-menu #deleteMenu="matMenu">
        <button mat-menu-item title="delete contact"(click)="confirmationDelete(element)"><mat-icon>delete</mat-icon>Remove</button>    
      </mat-menu>
      <button mat-icon-button [mat-menu-trigger-for]="deleteMenu"><mat-icon>more_vert</mat-icon></button>  
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<button mat-fab color="primary" (click)="newContactDialog()" id="createcontact">
  <mat-icon >person_add</mat-icon>
</button>

<!-- This button used to trigge the overlay and is it's origin  -->
<button  cdkOverlayOrigin #trigger="cdkOverlayOrigin" hidden="true"> </button>

