
img {
    border-radius: 50%;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: white;
  }
  
  .avatar {
    justify-content: center;
    display: flex;
  }
  
  .top-header {
  
    justify-content:space-between;
    display: flex;
  
  }