
img {
  border-radius: 50%;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
}

.avatar {
  justify-content: center;
  display: flex;
}

.top-header {

  justify-content:space-between;
  display: flex;

}